.fondonegro {
    display: flex;
}
.separador2 {
    margin-left: -100px;
    width: 1700px;
    position: absolute;
    margin-top: -50px;
    height:700px;
    /* object-fit: cover; */
    /* object-position: 0 10%; */
    /* z-index: -10; */
    /* mix-blend-mode: darken; */
}

.sobremí {
    width: 100vw;
    margin-left: -6.2svw;
    position: absolute;
}