
.sec7 {
    margin-bottom: -199px;
}

.sec6 .tarjetawale {
    /* position: absolute; */
    /* width: 500px; */
    /* align-content: center; */
    /* margin-left: auto;
    margin-right: auto; */
    /* display: flex; */
    /* margin-top: -400px; */
    margin-top: 00px;
    margin-left: 50vw;
    margin-right: auto;
    width: 500px;
}