

body {
    background-color: #f8f5f1;
}

.web {
    background-image: url("./img/web.png");
    background-repeat: no-repeat;
    background-size: 140%;
    
    height:7250px;
    width: 100%;
    margin-left: svw;
} 