

.landing {
    
     margin-left: 6vw;
    margin-right: 6vw;

}

.web {
    /* background-image: url("./img/web.png"); */
    background-color: #f8f5f1;
    background-repeat: no-repeat;
    background-size: 140%;

    overflow: hidden;
    height: 7250px;
    height:7400px;
    /* width: 100%; */
    /* margin-left: svw; */
} 

@media screen and (max-width: 700px) {
    .web{
        height: 8870px;
    }
    
}
